
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}



body {
    background-color: burlywood;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    
}

.main-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
    width: 100%;
    max-width: 600px;       
    padding: 20px;
}

h2 {
    
    font-size: 1.9rem;   /* Aumenta o tamanho. Pode usar px também, ex: 24px */
    font-weight: bold;    /* Deixa em negrito para destacar */
    margin-top: 10px;     /* Espaço em relação ao Star Wars/Linha acima */
    margin-bottom: 5px;   /* Espaço em relação ao botão */
    color: rgb(27, 27, 27);       /* Uma cor levemente diferente para contraste */
}

.imagem img {
    max-width: 100%;        
    height: auto;
}

hr {
    width: 500%;            
    border: 0;
    border-top: 1px solid #2c3e50;
    margin: 15px 0;
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(2, 2, 136);
    color: white;
    border-radius: 8px;
    margin: 20px;
    font-weight: bold;
    
}

card {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}


/* removi a margem padrão do <p> para não descontrolar o espaçamento */
.info-box p {
    margin: o;
}

.titulo {
    font-size: 1.5rem;   /* Aumenta o tamanho. Pode usar px também, ex: 24px */
    font-weight: bold;    /* Deixa em negrito para destacar */
    margin-top: 10px;     /* Espaço em relação ao Star Wars/Linha acima */
    margin-bottom: 5px;   /* Espaço em relação ao botão */
    color: #2c3e50;       /* Uma cor levemente diferente para contraste */
}





